body{
  padding:0%;
  margin: 0%;
}

h1{
font-family: 'Times New Roman', Times, serif;
font-weight: 400;
color: rgb(255, 255, 255);
text-decoration: underline;
font-size: 22px;
margin-left: 5%;
margin-right: 5%;
  }
  h2{
    font-family: 'Roboto Mono';
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
      }
      .fo{
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
       width: 90%;
       height: 236px;
       margin-left: 5%;
      }
      #piefoto{
        font-size: 12px;
      }
      #fotosuperior{
        background-image:  url(p/bolo0.gif);
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
      }
      #fotosdebajo{
        background-image:  url(p/dentro.gif);
      }
      #ninx{
        background-image:  url(p/ninx.gif);
      }
      #explo{
        background-image: linear-gradient(rgba(0, 0, 0, 0.074), rgba(0, 0, 0, 0.255)),  url(p/explo.gif);
      }
      #spot{
        background-image: linear-gradient(rgba(0, 0, 0, 0.074), rgba(0, 0, 0, 0.255)),  url(p/spot.jpg);
      }
      #ro{
        background-image: linear-gradient(rgba(0, 0, 0, 0.074), rgba(0, 0, 0, 0.255)),  url(p/ro.gif);
      }
      #osss{
        background-image: linear-gradient(rgba(0, 0, 0, 0.074), rgba(0, 0, 0, 0.255)),  url(p/osss.gif);
      }
      #deshidra{
        background-image: linear-gradient(rgba(0, 0, 0, 0.074), rgba(0, 0, 0, 0.255)),  url(p/deshidra.gif);
      }
      .fan{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
       width: 90%;
       height: 800px;
       margin-left: 5%;
      }


       /*///////////////////////////////////////////
 @media (max-width:825px){ 
  h1{
  font-size: 12px;
    margin-left: 3%;
    margin-right: 3%;
      }
      h2{
        font-size: 10px;
          margin-left: 3%;
          margin-right: 3%;
            }
            #piefoto{
              font-size: 8px;
            }

            .fo{
             height: 140px;
             margin-left: 3%;
            }
            .fan{
             height: 400px;
             margin-left: 3%;
            }
 }825////////////*/
